.attendance-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.wrapper {
  width: 480px;
  border: 2px solid var(--color-primary);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  background: var(--color-bg1);
  color: var(--color-text);
  border-radius: 12px;
  padding: 30px 32px;
}

.wrapper h2 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
  font-size: 18px;
  margin-top: 48px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  border: none;
  outline: none;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  font-size: 16px;
  color: var(--color-text);
  padding: 20px 45px 20px 20px;
  margin-top: 8px;
  margin-bottom: 16px;
}

/* input box active */
.input-box input:focus {
  border-color: var(--color-danger);
}

/* .input-box input::placeholder {
  color: var(--color-text);
} */

.wrapper .rules {
  font-size: 14px;
  margin-bottom: 24px;
  margin-top: 72px;
  display: grid;
  grid-template-columns: 65% 35%;
}

.rules label input {
  accent-color: #fff;
  margin-right: 8px;
}

.rules a {
  text-align: right;
  text-decoration: underline;
}

.rules a:hover {
  color: var(--color-danger);
}

.btn-attendance {
  width: 100%;
  padding: 1rem 2rem;
  background: var(--color-danger);
  border: 1px solid transparent;
  border-radius: 8px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-white);
  transition: var(--transition);
}

.btn-attendance:hover {
  background: transparent;
  color: var(--color-text);
  border-color: var(--color-text);
  transform: scale(1.05);
}
