/* ========================== TIMELINE  ========================== */

.events-lomba {
  padding-bottom: 1rem;
}

.events-expouniv {
  padding: 1rem;
}

.events-talkshow {
  padding: 1rem;
}

.location {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
}

.location .heading {
  height: auto;
  font-size: 28px;
  position: relative;
  text-align: center;
  margin-top: 80px;
}

.section-location {
  padding-top: 1rem;
}

.main-events {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  background: var(--color-bg1);
}

.main-events .heading {
  font-size: 28px;
  position: relative;
  margin-bottom: 80px;
  margin-top: 24px;
  text-align: center;
}

.heading::after {
  position: absolute;
  content: " ";
  width: 50%;
  height: 3px;
  left: 50%;
  bottom: -5px;
  background-color: var(--color-danger);
  transform: translateX(-50%);
}

/* Container CSS Start */

.container-timeline {
  width: 70%;
  height: auto;
  position: relative;
  margin-bottom: 80px;
}

.container-timeline::after {
  position: absolute;
  content: " ";
  width: 2px;
  height: 100%;
  background-color: var(--color-danger);
}

.container-timeline ul {
  list-style: none;
}

.container-timeline ul li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: var(--color-bg2);
  /* box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.384); */
  border-radius: 8px;
  margin-bottom: 30px;
  /* z-index: 99; */
  position: relative;
}

.container-timeline ul li:hover {
  transform: scale(1.05);
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container-timeline ul li:nth-child(odd) {
  float: left;
  clear: right;
  transform: translateX(-30px);
  text-align: right;
}

.container-timeline ul li:nth-child(odd) .date {
  right: 20px;
}

.container-timeline ul li:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(30px);
}

.container-timeline ul li:nth-child(4) {
  margin-bottom: 0;
}

.container-timeline ul li .title {
  font-size: 18px;
}

ul li p {
  font-size: 14px;
  margin: 8px 0;
  line-height: 24px;
}

ul li .date {
  position: absolute;
  top: -40px;
  width: 170px;
  height: 35px;
  border-radius: 20px;
  color: white;
  background-color: var(--color-danger);
  display: grid;
  place-items: center;
  font-size: 14px;
}

.container-timeline ul li .circle {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.container-timeline ul li .circle::after {
  content: " ";
  width: 15px;
  height: 15px;
  background-color: var(--color-danger);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-timeline ul li:nth-child(odd) .circle {
  right: -30px;
  transform: translate(50%, -50%);
}

.container-timeline ul li:nth-child(even) .circle {
  left: -30px;
  transform: translate(-50%, -50%);
}

.maps {
  margin-top: 48px;
  border: 3px solid var(--color-danger);
  border-radius: 8px;
  width: 76%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ========================== MEDIA QUERIES (TABLETS) ========================== */

@media screen and (max-width: 1224px) {
  .container-timeline {
    width: 85%;
  }
}

@media screen and (max-width: 933px) {
  .container-timeline {
    width: 80%;
    transform: translateX(15px);
  }

  .container-timeline::after {
    left: -30px;
  }

  .container-timeline ul li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }

  .container-timeline ul li:nth-child(odd) {
    transform: translateX(0);
    text-align: left;
  }

  .container-timeline ul li:nth-child(odd) .date {
    left: 20px;
  }

  .container-timeline ul li:nth-child(odd) .circle {
    left: -30px;
    transform: translate(-50%, -50%);
  }

  .container-timeline ul li:nth-child(even) {
    transform: translateX(0);
  }
}
