* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 120px;
}

/* ========================== BUTTON GALLERY ========================== */

.gallery {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 16px auto;
}

.gallery ul {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.gallery ul li {
  list-style: none;
  background-color: var(--color-white);
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.gallery ul li:hover {
  background: transparent;
  color: var(--color-text);
  border: 1px solid var(--color-text);
  transform: scale(1.05);
}

.gallery ul li.active {
  color: var(--color-white);
  background-color: var(--color-danger);
}

/* ========================== IMAGES GALLERY ========================== */

.image {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.image .itemBox {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.image .itemBox.hide {
  display: none;
}

/* ========================== OVERLAY EFFECT ========================== */

.image .itemBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.image .itemBox:hover::after {
  opacity: 1;
}

/* ========================== IMAGE STYLES ========================== */

.image .itemBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.image .itemBox:hover img {
  transform: scale(1.1);
}

.image .itemBox:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
